// finir
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,800');

@import './themes.scss';
@import './fontawesome.css';


html {
  background: #fafafa;
  font-family: 'Fira Sans', sans-serif;
  touch-action: manipulation;
}

body {
  margin: 0;
  // overflow: hidden;
}

a,
button,
.button {
  cursor: pointer;
}

