// finir
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,800');

@import '~@/assets/webfonts-with-css/css/fontawesome-all.css';

html {
  background: #fafafa;
font-family: 'Fira Sans', sans-serif;

}

body {
  margin: 0;
}

button,
.button,
a {
  cursor: pointer;
}