// finir
@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800');

@import '~@/assets/webfonts-with-css/css/fontawesome-all.css';

html {
  background: #fafafa;
  font-family: 'Assistant', sans-serif;
}

body {
  margin: 0;
}

button,
.button,
a {
  cursor: pointer;
}